.main {
    flex: 1;
    margin-left: 20px;
}
/* .Body-container {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 40px;
    
    

} */
.container {
    width: 100%;
    height: 100%;
    /* background: rgb(255, 0, 0); */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.container-form {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(248, 249, 250, 0.75);
    border: 1px solid #dee2e6;
    border-radius: 2.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    
}

h1 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
select,
input[type="file"] {
    height: 40px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f0f0f0; 
    margin-bottom: 0;
}
button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #25DBF4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #23C3D9;
    font-weight: bold;
}
.current-image {
    max-width: 100px;
    margin-bottom: 10px;
}
.profile-picture {
    margin-bottom: 20px;
    /* background-color: #ff0000; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture-container {
    /* background-color: #4cae4c; */
    padding: 1rem;
    width: 300px;

}
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.first-line {
    /* background-color: #eaff00; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 1rem 1rem 0.5rem 1rem;
    margin-bottom: 20px;
}

.birthday-field {
    width: 140px;
    margin-bottom: 0;
}
.sex-field {
    width: 100px;
    margin-bottom: 0;
}

.second-line {
    /* background-color: #eaff00; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 1rem 0.5rem 1rem;
    margin-bottom: 20px;
}
.address-field {
    width: 100%; /* Adjust as needed */
}

.email-field {
    width: 80%; /* Adjust as needed */
}

.third-line {
    /* background-color: #eaff00; */
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0 1rem 0 1rem;
    justify-content: space-between;
}
.third-line1 {
    margin-bottom: 0;
    /* background-color: #333; */
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}
.third-line2 {
    margin: 0;
    height: 100%;
    width: 15%;
    /* background-color: #430edf; */
    
}
.line2 {
    padding: 0;
}

.save-changes {
    height: 40px;
    width: 100%;
}
.occupation-field {
    width: 40%; /* Adjust as needed */
    margin-bottom: 0;
}

.status-field {
    margin-bottom: 0;
}

.fourth-line {
    /* background-color: #eaff00; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
    /* background-color: #25dbf4; */
}

.password-change-form {
    padding: 20px;
    background-color: rgba(248, 249, 250, 0.75);
    border: 1px solid #dee2e6;
    border-radius: 2.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.password-change-form h3 {
    margin-bottom: 15px;
}

.password-change-form form {
    display: flex;
    flex-direction: column;
}

.password-change-form form p {
    margin-bottom: 15px;
}

.password-change-form form button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #25dbf4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-change-form form button:hover {
    background-color: #1fc8e0;
}

.prof {
    display: flex;
    gap: 5px;
    /* background-color: #25DBF4; */
    align-items: center;
    padding: 0;
    padding-left: 10px;
}

.main {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    /* background-color: #23C3D9; */
    padding: 1rem;
    
}
.messages {
    width: 100%;
    margin-top: 15px;
    /* background-color: #23C3D9; */
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    background-color: #d5d5d5;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: inherit;
    opacity: 0.5;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.alert .close:hover {
    opacity: 1;
}