* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #00c1f0 !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rounded-circle {
    border-radius: 50% !important;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
    margin: 10px 0;
}

.nav-link:hover {
    background-color: #f4f4f4;
    color: #00c1f0 !important;
}

.table th, .table td {
    vertical-align: middle;
}

.badge {
    padding: 10px;
    font-size: 14px;
}

.pagination a {
    text-decoration: none;
    color: #00c1f0;
    font-weight: bold;
}

.pagination a:hover {
    text-decoration: underline;
}
