<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vaccine Record</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .image-display-container {
            width: 350px;
            height: 200px;
            border: 2px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image-display-container img {
            max-width: 100%;
            max-height: 200px;
        }
        body {
            background-image: url("{% static 'images/background.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
        }

        .background-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            z-index: -1; 
        }
        .col-md-9 {
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.7); 
            border: 1px solid #dee2e6;
            border-radius: 2.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="background-overlay"></div>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/Immunolog-logo.png' %}" alt="Immunolog" width="200" height="100">
            </a>
            <div class="ml-auto">
                Hi {{ user.username }}
                <a href="{% url 'signout' %}" class="btn btn-link">Sign Out</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <aside>
                    <div class="card mb-3" style="border: none; border-radius: 50%; padding: 20px; background-color: #25dbf4; width: 250px; height: 250px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
                        <div class="profile-picture-container" style="background-color: #ffffff; border-radius: 50%; width: 203px; height: 203px; display: flex; align-items: center; justify-content: center;">
                            {% if user.profile_picture %}
                            <img loading="lazy" src="{{ user.profile_picture.url }}"  class="img-fluid rounded-circle" style="width: 100%; height: 100%; object-fit: cover;" alt="">
                        {% else %}
                            <img loading="lazy" src="{% static 'imgs/profilepicdefault.jpg' %}"  class="img-fluid rounded-circle" style="width: 100%; height: 100%; " alt="">
                        {% endif %}
                        </div>
                    </div>
                    <div class="card mt-n4" style="background-color: #25dbf4; border-radius: 20px; border: none;">
                        <div class="card-body text-center">
                            <h2 class="mt-4" style="font-weight: 900; font-size: 40px; font-family: Roboto, sans-serif; color: #fff;">Hi {{ user.username }}!</h2>
                            <div class="list-group mt-3">
                                <a href="#" class="list-group-item list-group-item-action" style="background-color: #fff; color: #25dbf4; font-weight: 600; border-radius: 20px;">Vaccine Records</a>
                                <br>
                                <a href="{% url 'editprofile' pk=pk %}" class="list-group-item list-group-item-action text-center" style="font-weight: 600; border-radius: 20px;">Edit Profile</a>
                                <br>
                                <a href="{% url 'contactus' %}" class="list-group-item list-group-item-action text-center" style="font-weight: 600; border-radius: 20px;">Contact Us</a>
                                <div style="background-color: #fff; height: 1px; margin-top: 15px; margin-bottom: 50px;"></div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

            <!-- Main Content -->
            <div class="col-md-9">
                <div class="d-flex align-items-center mb-4">
                    <a href="#" class="back-button" style="font-weight: bold; color: #25dbf4;"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
                    <h1 class="text-primary ml-3" style="font-weight: bold; font-size: 3.5rem; color: #25dbf4 !important;">Add Vaccine Record</h1>
                </div>
                <div class="card p-4 mt-3" style="background-color: rgba(251, 251, 249, 0.7); border-radius: 20px; padding-bottom: 0;">
                    <div class="card-body" style="padding-bottom: 0;">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    Please correct the errors below.
                                </div>
                            {% endif %}
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="{{ form.vaccination_date.id_for_label }}" class="form-label">{{ form.vaccination_date.label }}</label>
                                        {{ form.vaccination_date }}
                                        {% if form.vaccination_date.errors %}
                                            <div class="text-danger">
                                                {{ form.vaccination_date.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="{{ form.vaccine_type.id_for_label }}" class="form-label">{{ form.vaccine_type.label }}</label>
                                        {{ form.vaccine_type }}
                                        {% if form.vaccine_type.errors %}
                                            <div class="text-danger">
                                                {{ form.vaccine_type.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% for field in form %}
                                    {% if field.name != "vaccination_date" and field.name != "vaccine_type" %}
                                        <div class="mb-3">
                                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                            {% if field.errors %}
                                                <div class="text-danger">
                                                    {{ field.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Image display container -->
                            <div class="image-display-container">
                                <img id="uploadedImage" src="{% static 'images/template.avif' %}" alt="Uploaded Image">
                            </div>

                            <div class="form-group text-center" style="margin-bottom: 0;">
                                <button type="submit" class="btn btn-primary" style="font-weight: bold;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fileInput = document.querySelector('input[type="file"]');
            const imageDisplay = document.getElementById('uploadedImage');

            fileInput.addEventListener('change', function(e) {
                if (e.target.files && e.target.files[0]) {
                    const reader = new FileReader();
                    
                    reader.onload = function(e) {
                        imageDisplay.src = e.target.result;
                        imageDisplay.style.display = 'block';
                    }
                    
                    reader.readAsDataURL(e.target.files[0]);
                }
            });
        });
    </script>
</body>
</html>