<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset Password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
    />
  </head>

<body>
<div>
  

<h2> PASSWORD RESET SENT </h2>
 <p>We have sent you instructions via email on how to set your password. If there is an account associated with the email you provided, you should expect to receive these instructions shortly. </p>
  <button>
<a href="/">Sign In</a>
</button>
</body>