<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    body {
            background-image: url("{% static 'images/background.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
        }

        .background-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            z-index: -1; 
        }
        .col-md-9 {
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.7); 
            border: 1px solid #dee2e6;
            border-radius: 2.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
}
#currentImage {
            max-width: 100%;
            max-height: 200px;
        }
        .image-container {
            width: 350px;
            height: 200px;
            border: 2px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .fit-image {
        max-width: 350px;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
</style>
    
</head>

<body>

    <div class="background-overlay"></div>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/Immunolog-logo.png' %}" alt="Immunolog" width="200" height="100">
            </a>
            <div class="ml-auto">
                Hi {{ user.username }}
                <a href="{% url 'signout' %}" class="btn btn-link">Sign Out</a>
            </div>
        </div>
    </nav>

    <!-- user profile and table -->
    <div class="container mt-4">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-md-3">
                <div class="card mb-3" style="border: none; border-radius: 50%; background-color: #25dbf4; width: 250px; height: 250px; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
                    <div style="background-color: #ffffff; border-radius: 50%; width: 203px; height: 203px; display: flex; align-items: center; justify-content: center;">
                        {% if user.profile_picture %}
                            <img loading="lazy" src="{{ user.profile_picture.url }}"  class="img-fluid rounded-circle" style="width: 100%; height: 100%; object-fit: cover;" alt="">
                        {% else %}
                            <img loading="lazy" src="{% static 'imgs/profilepicdefault.jpg' %}"  class="img-fluid rounded-circle" style="width: 100%; height: 100%; object-fit: cover;" alt="">
                        {% endif %}
                        
                        
                        
                    </div>
                </div>
                <div class="card mt-n4" style="background-color: #25dbf4; border-radius: 20px; border: none; margin-bottom: 20px;">
                    <div class="card-body text-center">
                        <h2 class="mt-4" style="font-weight: 900; font-size: 25px; font-family: Roboto, sans-serif; color: #fff;">Hi {{ user.username }}!</h2>
                        <div class="list-group mt-3">
                            <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action" style="background-color: #fff; color: #25dbf4; font-weight: 600; border-radius: 20px;">Vaccine Records</a>
                            <br>
                            <a href="{% url 'editprofile' pk=pk %}" class="list-group-item list-group-item-action text-center" style="font-weight: 600; border-radius: 20px;">Edit Profile</a>
                            <br>
                            <a href="{% url 'contactus' %}" class="list-group-item list-group-item-action text-center" style="font-weight: 600; border-radius: 20px;">Contact Us</a>
                            <div style="background-color: #fff; height: 1px; margin-top: 15px; margin-bottom: 50px;"></div>
                        </div>
                    </div>
                </div>
            </aside>
            
            <!-- Main Content -->
            <main class="col-md-9">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2>Vaccine Records</h2>
                    <a href="{% url 'addrecord' %}" class="btn btn-info">Add Record</a>
                </div>
                {% if vaccine_records %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Vaccine Type</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in vaccine_records %}
                            <tr>
                                <td>{{ record.vaccination_date }}</td>
                                <td>{{ record.vaccine_type }}</td>
                                <td>
                                    <span class="badge 
                                    {% if record.status == 'VERIFIED' %}
                                        badge-success
                                    {% elif record.status == 'UNDER REVIEW' %}
                                        badge-warning
                                    {% elif record.status == 'REJECTED' %}
                                        badge-danger
                                    {% endif %}
                                ">{{ record.status }}</span>
                                </td>
                                <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#viewModal{{ record.pk }}">View</button></td>
                                <td>
                                    <button type="button" 
                                            class="btn btn-primary btn-sm edit-record" 
                                            data-url="{% url 'edit_vaccine_record' record.pk %}"
                                            data-status="{{ record.status }}">
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ record.pk }}">
                                        Delete
                                    </button>
                                </td>
                            </tr>
            
                            <!-- Modal for each record -->
                            <div class="modal fade" id="viewModal{{ record.pk }}" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel{{ record.pk }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="viewModalLabel{{ record.pk }}">Record Details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>Date:</strong> {{ record.vaccination_date }}</p>
                                            <p><strong>Vaccine Type:</strong> {{ record.vaccine_type }}</p>
                                            <div class="form-group" style="display: flex; justify-content: center; margin-top: 10px;">
                                                <div class="image-container">
                                                    <img id="viewImage{{ record.pk }}" src="{{ record.proof_document.url }}" alt="Current proof document" class="fit-image">
                                                </div>
                                            </div>
                                            <p><strong>Status:</strong> 
                                                <span class="badge 
                                                {% if record.status == 'VERIFIED' %}
                                                    badge-success
                                                {% elif record.status == 'UNDER REVIEW' %}
                                                    badge-warning
                                                {% elif record.status == 'REJECTED' %}
                                                    badge-danger
                                                {% endif %}
                                                ">{{ record.status }}</span>
                                            </p>
                                            {% if record.status == 'Verified' %}
                                                <div class="alert alert-success" role="alert">
                                                    Your record has been verified. Thank you for submitting your vaccination information.
                                                </div>
                                            {% elif record.status == 'Under Review' %}
                                                <div class="alert alert-warning" role="alert">
                                                    Your record is currently under review. Please check back later for updates.
                                                </div>
                                            {% elif record.status == 'Rejected' %}
                                                <div class="alert alert-danger" role="alert">
                                                    <h6 class="alert-heading">Your record has been rejected.</h6>
                                                    {% if record.rejection_reason %}
                                                        <hr>
                                                        <p class="mb-0"><strong>Reason for Rejection:</strong> {{ record.rejection_reason }}</p>
                                                    {% else %}
                                                        <p class="mb-0">No specific reason was provided for the rejection.</p>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- delete modal -->
                            <div class="modal fade" id="deleteModal{{ record.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ record.pk }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ record.pk }}">Confirm Deletion</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this vaccine record?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Cancel</button>
                                            <a href="{% url 'delete_vaccine_record' pk=record.pk %}" class="btn btn-danger">Yes, Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p>You have no vaccine records.</p>
                {% endif %}
            </main>

            
        </div>
    </div>

    <!-- edit modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Vaccine Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="recordId" name="recordId">
                        <div class="form-group">
                            <label for="vaccination_date">Vaccination Date</label>
                            <input type="date" class="form-control" id="vaccination_date" name="vaccination_date" required>
                        </div>
                        <div class="form-group">
                            <label for="vaccine_type">Vaccine Type</label>
                            <input type="text" class="form-control" id="vaccine_type" name="vaccine_type" required>
                        </div>
                        <div class="form-group">
                            <label for="attending_physician_first_name">Physician's First Name</label>
                            <input type="text" class="form-control" id="attending_physician_first_name" name="attending_physician_first_name" required>
                        </div>
                        <div class="form-group">
                            <label for="attending_physician_last_name">Physician's Last Name</label>
                            <input type="text" class="form-control" id="attending_physician_last_name" name="attending_physician_last_name" required>
                        </div>
                        <div class="form-group">
                            <label for="vaccine_venue">Vaccine Venue</label>
                            <input type="text" class="form-control" id="vaccine_venue" name="vaccine_venue" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="proof_document">Update Image</label>
                            <input type="file" class="form-control-file" id="proof_document" name="proof_document" accept="image/*">
                        </div>
                        <div class="form-group" style="display: flex; justify-content: center; margin-top: 10px;">
                            <div class="image-container">
                                <img id="currentImage" src="" alt="Current proof document">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    

    <!-- error message -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Editing is no longer allowed for this record.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        $(document).ready(function() {
            $('.edit-record').click(function() {
                var url = $(this).data('url');
                var status = $(this).data('status');
                
                if (status.toLowerCase() !== 'under review') {
                    $('#errorModal').modal('show');
                    return;
                }
                
                $.get(url, function(data) {
                    $('#recordId').val(data.id);
                    $('#vaccination_date').val(data.vaccination_date);
                    $('#vaccine_type').val(data.vaccine_type);
                    $('#attending_physician_first_name').val(data.attending_physician_first_name);
                    $('#attending_physician_last_name').val(data.attending_physician_last_name);
                    $('#vaccine_venue').val(data.vaccine_venue);
                    
                    // Update this part to handle the image
                    if (data.proof_document) {
                        $('#currentImage').attr('src', data.proof_document).show();
                    } else {
                        $('#currentImage').attr('src', '').hide();
                    }
                    
                    $('#editModal').modal('show');
                });
            });
        
            $('#proof_document').change(function() {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#currentImage').attr('src', e.target.result).show();
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        
            $('#saveChanges').click(function() {
                var formData = new FormData($('#editForm')[0]);
                $.ajax({
                    url: "{% url 'edit_vaccine_record' 0 %}".replace('0', $('#recordId').val()),
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.status === 'success') {
                            location.reload();
                        } else {
                            alert('Error updating record');
                        }
                    }
                });
            });
        });
        </script>
</body>
</html>
